.row {
}

a {
}

@media (max-width: 576px) {
  #faicon {
    font-size: xx-small;
    max-width: 170px;
  }
}

@media (max-width: 576px) {
  #reducebutton {
    height: 30px;
    width: 70px;
  }
}

@media (max-width: 576px) {
  #topparagrahp {
    max-width: 170px;
    padding: 0px;
  }
}

#currency {
  font-size: xx-small;
  width: 70px;
  align-content: center;
  padding: 0px;
}

#countrydiv {
  padding: 0px;
  max-width: 70px;
  font-size: xx-small;
}

#countrytext {
  font-size: xx-large;
}

@media (max-width: 300px) {
  #countrytext {
    padding-left: 0px;
  }
}

@media (min-width: 576px) {
  #cruisedisplay {
    padding-left: 40px;
  }
}

@media (max-width: 576px) {
  #search {
    max-width: 230px;
  }
}

#rating .li {
  display: inline-block;
}

#rating {
}

@media (min-width: 768px) {
  #mddisplay {
    padding-left: 80px;
  }
}

#offcanvaslink a {
  text-decoration: underline;
}

#sidenav {
  text-decoration: none;
}

#sidehover:hover {
  background-color: #dbe3e7;
}

#emailinput {
  width: 300px;
}

@media (max-width: 768px) {
  #divemail {
    justify-content: center!important;
  }
}

@media (max-width: 574px) {
  #footerid {
    max-height: 900px;
    background-repeat: repeat;
    background-color: #132e55;
  }
}

@media (min-width: 768px) {
  #footerid {
    height: 450px;
  }
}

@media (min-width: 768px) {
  #optionline {
    display: inline-flex;
  }
}

@media (min-width: 768px) {
  #targetcenter {
    margin-top: 20px;
  }
}

